.chatItem {
    color: rgb(59, 59, 59);
    text-align: center;
    font-size: 14px;
}

.personName {
    font-weight: 200%
}

span {
    line-height: 24px;
}

.chatIcon {
    width: 40px;
    margin: 5px;
    
}